body {
    background: #ddd;
    font-family: sans-serif;
}

input {
    font-size: 1.25rem;
    width: 1ch;
    aspect-ratio: 1;
    padding: 1rem 1.25rem;
    border-radius: 0.5rem;
    border: none;
    font-family: monospace;
}

fieldset {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

label>input {
    background: #bbb;
}
